{% load jsonify %}
{% load static %}
<div id="universe_explorer_plot" class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <p style="margin-bottom: 0; margin-top: 15px">Open interest</p>
        <input type="text" class="js-range-slider" value="" id="open-interest-slider"/>
        <p style="margin-bottom: 0; margin-top: 15px">Volume</p>
        <input type="text" class="js-range-slider" value="" id="volume-slider"/>
        <p style="margin-bottom: 0; margin-top: 15px">Min expiration date</p>
        <div id="datepicker">
            <div class="input-group date">
                <input value="{{ selected_expiration_date | jsonify | cut:'"' }}" type="text" class="form-control">
                <div class="input-group-addon">
                    <span class="oi oi-calendar" style="font-size: 36px"></span>
                </div>
            </div>
        </div>
        <p style="margin-bottom: 0; margin-top: 15px">Moneyness</p>
        <select id="moneyness-selector">
            {% for id, text in moneyness_options %}
                {% if id == selected_moneyness %}
                    <option value="{{ id }}" selected="selected">{{ text }}</option>
                {% else %}
                    <option value="{{ id }}">{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p style="margin-bottom: 0; margin-top: 15px">X variable</p>
        <select id="x-var-selector" style="width: 120px">
            {% for id, text in var_options %}
                {% if id == selected_x_var %}
                    <option value="{{ id }}" selected="selected">{{ text }}</option>
                {% else %}
                    <option value="{{ id }}">{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <p style="margin-bottom: 0; margin-top: 15px">Y variable</p>
        <select id="y-var-selector" style="width: 120px">
            {% for id, text in var_options %}
                {% if id == selected_y_var %}
                    <option value="{{ id }}" selected="selected">{{ text }}</option>
                {% else %}
                    <option value="{{ id }}">{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </nav>
    <div class="col-md-offset-2">
        {{ plot_div | safe}}
        {{ plot_script | safe}}
    </div>
</div>
{# Pass variables from django to javascript #}
<div style="visibility: hidden" id="open-interest-range">{{ open_interest_range | jsonify }}</div>
<div style="visibility: hidden" id="volume-range">{{ volume_range | jsonify }}</div>
<div style="visibility: hidden" id="expiration-dates">{{ expiration_dates | jsonify }}</div>
<div style="visibility: hidden" id="selected-open-interest">{{ selected_open_interest | jsonify }}</div>
<div style="visibility: hidden" id="selected-volume">{{ selected_volume | jsonify }}</div>
<div style="visibility: hidden" id="selected-expiration-date">{{ selected_expiration_date | jsonify }}</div>
<div style="visibility: hidden" id="selected-moneyness">{{ selected_moneyness | jsonify }}</div>
<div style="visibility: hidden" id="selected-x-var">{{ selected_x_var | jsonify }}</div>
<div style="visibility: hidden" id="selected-y-var">{{ selected_y_var | jsonify }}</div>

{# Call the loader from explorer.js #}
<script>load_universe_explorer();</script>
<script>

</script>