<div id="rolling_descriptives_plot">
    <a>Select window</a>
    <select id="window_selector" style="width: 120px">
        {% for id, text in window_options %}
            {% if id == selected_window %}
                <option value="{{ id }}" selected="selected">{{ text }}</option>
            {% else %}
                <option value="{{ id }}">{{ text }}</option>
            {% endif %}
        {% endfor %}
    </select>
    {{ plot_div | safe}}
    {{ plot_script | safe}}
</div>
<script>
    $('#window_selector').select2({
        'width': 'style'
    }).on('select2:select', function (e){
        var window = e.params.data.id;
        let rolling_descriptives_url = "{% url 'plots:rolling_descriptives' stock_symbol=selected_stock.symbol %}?window=" + window;
        $("#rolling_descriptives_plot").load(rolling_descriptives_url)
    });
</script>