<div id="implied_volatility_plot">
    <div id="datepicker">
        <div class="input-group date">
            <input type="hidden" placeholder="Choose expiration date" value="{{ selected_dates }}" style="width: 0">
            <div class="input-group-addon">
                <span class="oi oi-calendar" style="font-size: 36px"></span>
            </div>
            <a style="font-size: 20px; padding-left: 10px">Add expiration dates</a>
        </div>
    </div>
    {{ plot_div | safe}}
    {{ plot_script | safe}}
</div>
<div style="visibility: hidden" id="available-dates">{{ available_dates }}</div>

<script>
    function formatDate(date) {
      var day = date.getDate();
      var monthIndex = date.getMonth();
      var year = date.getFullYear();

      return year + '-' + (monthIndex + 1)+ '-' + day ;
    }
    var availableDates = $("#available-dates").text().split(',').filter(
        function(e){return e}
    ).map(
        function(param) {
            return formatDate(new Date(param));
        }
    );

    $('#datepicker .input-group.date').datepicker({
        format: 'yyyy-m-d',
        autoclose: true,
        multidate: true,
        beforeShowDay: function(date) {
            return $.inArray(formatDate(date), availableDates) != -1;
        }
    }).on('changeDate', function(ev) {
        let selected_dates = $('#datepicker .input-group.date').datepicker('getDates');
        let formatted = selected_dates.map(formatDate);
        let $implied_volatility_url = "{% url 'plots:skew_chart' stock_symbol=selected_stock.symbol %}?expiration_dates=" + formatted;
        $("#implied_volatility_plot").load($implied_volatility_url);

    });
</script>