
<div id="term_structure_plot">
    Select <b>strike</b> value
    <input type="text" class="js-range-slider" name="my_range" value="" id="strike_range_slider"/>
    {{ plot_div | safe}}
    {{ plot_script | safe}}
    <div style="visibility: hidden" id="available-strikes">{{ available_strikes }}</div>
    <div style="visibility: hidden" id="selected-strike">{{ selected_strike }}</div>
</div>



<script>
    var availableStrikes = $("#available-strikes").text().split(',').filter(
        function(e){return e}
    ).map(
        function(param) {
            return parseFloat(param);
        }
    );
    var selectedStrike = parseFloat($("#selected-strike").text());
    var selectedStrikeId = availableStrikes.indexOf(selectedStrike)

    $("#strike_range_slider").ionRangeSlider({
        grid: true,
        from: selectedStrikeId,
        values: availableStrikes,
        onFinish: function (data) {
            let strike = data.from_value;
            let term_structure_url = "{% url 'plots:term_structure' stock_symbol=selected_stock.symbol %}?strike=" + strike;
            $("#term_structure_plot").load(term_structure_url);
        },
    });
</script>