{% load static %}
{% load bokeh_extra %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load_bokeh %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/select2-adminlte.css" %}" rel="stylesheet">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'ion-rangeslider/css/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'open-iconic/font/css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
</head>

  <body style="">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Volatility online</a>
      <select id="stock_search" >
        <option value="" selected disabled hidden>select stock</option>
      </select>
      <nav class="col-md-6"></nav>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
{#                  section-link class is used to assign an action on click in dashboard.js#}
                <a class="nav-link active section-link" id="skew_section">
                  Skew and Term structure
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link section-link" id="richness_section">
                  Volatility richness
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link section-link" id="benchmark_section">
                  Benchmark
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link section-link" id="explorer_section">
                  Option universe explorer
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-7 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2" id="title"></h1>
          </div>
            <div id="plots"></div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'ion-rangeslider/js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/explorer.js' %}" type="text/javascript"></script>

</body></html>